* {
  margin: 0;
  padding: 0;
}
.bar {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      rgba(11, 2, 2, 0.7),
      rgba(124, 124, 124, 0.7)
    ),
    url(background1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.nav-links {
  display: flex;
  padding: 3% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 3;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 3em;
  position: relative;
}

.nav-links ul li a {
  color: rgba(255, 255, 255, 0.94);
  text-decoration: center;
  font-size: 16px;
}
.nav-links ul li a::after {
  content: "";
  width: 0%;
  height: 4px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s ease-in-out;
}
.nav-links ul li a:hover::after {
  width: 100%;
}
.text-box {
  width: 70%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 40px;
}
.text-box p {
  margin: 10px 0px 20px;
  font-size: 20px;
}
.homeclass {
  width: 70%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%, -50%);
  text-align: center;
}
.homeclass h1 {
  font-size: 40px;
}
.homeclass p {
  margin: 10px 0px 20px;
  font-size: 20px;
}
.videogames {
  width: 70%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%, -50%);
  text-align: center;
}
.videogames h1 {
  font-size: 3em;
}
.videogames p {
  margin: 10px 0 20px;
  font-size: 20px;
}
.brother {
  text-align: right;
}
* {
  box-sizing: border-box;
}

.column {
  float: auto;
  width: 46.25%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.column {
  flex: 0%;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

.container {
  float: auto;
  width: 46.25%;
  padding: 0px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row {
  display: flex;
}

.container {
  flex: 0%;
  padding: 0px;
}
* {
  box-sizing: border-box;
}
